/build_ext
/dist
/build
/*.egg-info
# ignore architecture dependent files
**/*.so
**/*.o
**/*.pyc
__pychache__/
# ignore emacs backup files
*~
\#*\#
.\#*

# executables
*.x
# Nvidia profiler output
*.nvprof
# intermediate compiled CUDA code (PTX)
*.ptx